[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*" # Code formatter
flake8 = "*" # Base-linter module
flake8-quotes = "*" # flake8-extension to lint bad quoting
flake8-docstrings = "*" # flake8-ext for strict docstring linting
flake8-builtins = "*" # flake8-ext to check python builtins used as vars etc.
flake8-blind-except = "*" # flake8-ext to catch blind exception catches
flake8-use-fstring = "*" # flake8-ext to enforce f-strings
pep8-naming = "*" # flake8-ext to enforce pep8 naming conventions
isort = "*" # Automated import sorting
pytest = "*" # Python base-testing library
tox = "*" # Automated and standardized testing in Python
rope = "*" # Refactoring library
twine = "*" # Interoperability with pypi.org
my_module = {path = ".", editable = true}

[packages]
requests = "*"
