name: CI

on:
    push:
        branches:
            - master
            - feature/*

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-python@v1

            - name: CI checks
              run: make clean build
