name: CI

on:
    push:
        branches:
            - main
            - feature/*

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                # https://www.python.org/downloads/
                python-version: [
                    "3.8", # EOL: 2024-10
                    "3.9", # EOL: 2025-10
                    "3.10", # EOL: 2026-10
                    "3.11" # EOL: 2027-10
                ]
        name: ${{ matrix.python-version }}
        steps:
            - uses: actions/checkout@v2

            - name: Setup python
              uses: actions/setup-python@v3
              with:
                  python-version: "${{ matrix.python-version }}"

            - name: CI checks
              run: |
                  python -m pip install wheel poetry
                  make
